<% @page_title = "Sections" %>
<div class="sections index">
	<h2>Sections</h2>

	<%= link_to("Add New section", {:action => 'new'}, :class => 'action new') %>

	<table class="listing" summary="section list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Page ID</th>
			<th>Name</th>
			<th>Position</th>
			<th>Visible</th>
			<th>Content_Type</th>
			<th>Content</th>
			<th>Actions</th>
		</tr>

		<% @sections.each do |section| %>

		<tr>
			<td><%= section.page_id %></td>
			<td><%= section.name %></td>
			<td><%= section.position %></td>
			<td><%= section.visible %></td>
			<td><%= section.content_type %></td>
			<td><%= section.content %></td>
			<td class="center"><%= section.visible ? 'Yes' : 'No' %></td> 
			<!-- above is a ternary - a one line if/else statement -->
			<td class="actions">
				<%= link_to 'Show', section_path(section) %>
				<%= link_to 'Edit', edit_section_path(section) %>
				<%= button_to 'Delete subject', section, method: :delete %> 
              
			</td>
		</tr>
		<% end %>
	</table>
</div>