<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link')%>

<div  class="subjects edit">
	<h2>Update Subject</h2>
	<%= form_for @subject do |f| %>

	 <%= f.label :name %>:

	 <%= f.text_field :name %>


	 <%= f.label :position %>

	 <%= f.text_field :position %>


	 <%= f.label :visible %>

	 <%= f.text_field :visible %>

	 <div class="form-buttons">
	 </br>
	 <%= f.submit("Update Subject") %>
	</div> 

	<% end %>

</div>
